<section style="text-align: center">
    <img src="cid:logo">
    <p style="text-align: center">Estimado/a {{usuario}}:<br>Haga click en el enlace para activar su cuenta.</p><br>
    <a style="text-align: center" href="{{ruta}}">Activar cuenta de GeeksHubs Travels</a>
</section>