<section style="text-align: center">
    <img src="cid:logo">
    <p style="text-align: center">Estimado/a {{usuario}}:<br>Haga click en el enlace para recuperar su contraseña.</p><br>
    <a style="text-align: center" href="{{ruta}}">Recuperar contraseña de GeeksHubs Travels</a>
</section>